<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LinguaFlow</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span>⌂</span> Trang chu</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="languages"><span>🌐</span> Ngon ngu</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="placement-test"><span>✓</span> Test dau vao</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roadmap"><span>▦</span> Lo trinh</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lessons"><span>▶</span> Bai hoc</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vocabulary"><span>Aa</span> Tu vung</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listening"><span>♪</span> Nghe & phat am</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quiz"><span>?</span> Kiem tra</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progress"><span>↗</span> Tien do</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dictionary"><span>⌕</span> Tu dien</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account"><span>◉</span> Tai khoan</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pricing"><span>$</span> Thanh toan</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin"><span>⚙</span> Quan tri</NavLink>
        </div>
    </nav>
</div>
