<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LinguaFlow</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span>H</span> Trang chu</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="languages"><span>NG</span> Ngon ngu</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="placement-test"><span>LV</span> Test dau vao</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roadmap"><span>LT</span> Lo trinh</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lessons"><span>BH</span> Bai hoc</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vocabulary"><span>Aa</span> Tu vung</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listening"><span>N</span> Nghe & phat am</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quiz"><span>Q</span> Kiem tra</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progress"><span>XP</span> Tien do</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dictionary"><span>TD</span> Tu dien</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account"><span>TK</span> Tai khoan</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pricing"><span>$</span> Thanh toan</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin"><span>AD</span> Quan tri</NavLink>
        </div>
    </nav>
</div>
